appdirs==1.4.3
bidict==0.13.1
cffi==1.10.0
cryptography==1.8.1
pafy==0.5.3.1
path.py==9.0
pyOpenSSL==17.0.0
PyQt5==5.8.2
python-vlc==1.1.2
requests==2.13.0
sip==4.19.2
six==1.10.0
youtube-dl==2017.4.17
